html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}



body {
  background-color: gray;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 800px;
  padding: 1em;
}


div {
  margin-top: 20%;
}


#math-result {
  font-size: 100px;
  text-align: center;
  margin-bottom: 100%;
}



.operator {
  border-radius: 15px;
  border: 5px solid black;
  width: 90px;
  height: 75px;
  font-size: 30px;
  text-align: center;

  
}

.initial-value {
  border: 5px solid black;
  border-style: solid;
  border-radius: 15px;
  width: 150px;
  height: 75px;
  text-align: center;
  font-size: 30px;
}


.operator:hover {
filter: invert(1);
}
